# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/app/build/
android/build/
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# Linux/Mac/Windows
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Build outputs
*.apk
*.aab
*.app
*.ipa

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Locks
*.lock

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json